<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <!-- <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>-->

                <rule name="Redirect to https" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                  </conditions>
                  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}/{R:2}/{R:3}" redirectType="Found" appendQueryString="true" />
                </rule>

                <rule name="DynamicContent" stopProcessing="true">
                   <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_URI}" pattern="/api.*" negate="False" />
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                   </conditions>
                   <action type="Rewrite" url="server.js"/>
                </rule>

                <rule name="StaticContent" stopProcessing="true">
                  <match url="^(js|css|fonts|img|favicon|index|robots).*" />
                  <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <rule name="HTML5 Mode">
                  <match url=".*" />
                  <conditions logicalGrouping="MatchAll">
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
